@use "./../../styles/partials/variables" as *;
@use "./../../styles/partials/breakpoints" as *;

.onPlay {
  width: 100vw;
  margin: 0;

  &__box {
    display: flex;
    justify-content: center;
    background-color: $secBlack;
  }

  &__main {
    width: 100vw;
    max-width: 1024px;
    height: 35vh;

    @include tablet {
      height: 50vh;
    }
  }
}

.page {
  @include desktop {
    display: flex;
    max-width: 1024px;
    margin: 0 auto;
    align-items: baseline;
  }
  &__details {
    @include desktop {
      width: 70%;
      border-right: 1px solid $primeSliver;
    }
  }
}
