@use "../../styles/partials/variables" as *;

.next {
  margin: 0 1.6rem;

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

  &__title {
    color: $primeSliver;
    font-size: 1.2rem;
  }
}
