.intro {
  margin: 0 1.6rem;
}

.infobar {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.stats {
  display: flex;
  flex-direction: column;

  &__wrapper {
    display: flex;
  }
}
